body {
    margin: 0;
    font-family: 'arial', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.search-main{
    padding: 10px;
    width: 95%;
    margin-top:24px;
    float:left;
    display: inline;
}
.search-form{
    margin: 0 auto;
    width: 50%;
}
.input-wrapper{
    display: inline-flex;
    width:75%;
}
.button-wrapper{
    display: inline-flex;
    width:20%;
}
input{   
    width: 100%;
    height: 30px;
    font-size: 14px;
    border-top: 0;
    border-bottom: 1;
    border-left: 0;
    border-right: 0;
    border-bottom-color: darkgreen;

}
button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* .display-content{
    margin-top: 50px;
} */
table{
    width: 90%;
    font-size: 14px;
}
td{
    padding:10px;
    background-color: darkseagreen;
    color: black;
}
tbody tr td:first-child{
    background-color: darkolivegreen;
    color: white;
}
.not-found{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color:#ff0000;
}
input:focus {
    outline: none;
}

@media(max-width: 600px) {
    .search-main{
        padding: 5px;
        width: 95%;
        margin-top:24px;
        float:left;
        display: inline;
    }
    ::placeholder {
        font-size: 12px;
      }
      .input-wrapper{
        display: inline-flex;
        width:100%;
    }
    .button-wrapper{
        display: inline-flex;
        width:100%;
    }
    .search-form{
        margin: 0 auto;
        width: 95%;
    }
    button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 8px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width: 100%;
    }
    table{
        width: 100%;
        font-size: 14px;
    }
}